body {
  margin: 10;
  background-color: #EFEBE0;
  font-family: 'Montagu Slab', serif;
  font-size: medium;
  background-color: #EFEBE0;
  color: #303B2E;
  font-family: 'Montagu Slab', serif;
}

#navbar {
  background-color: #303B2E;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: right;
  display: block;
  color: #EFEBE0;
  text-align: right;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;
  padding: 10px;
}

#navbar a:hover {
  background-color: #EFEBE0;
  color: #303B2E;
}

.ava {
  display: block;
  margin-top: 50px;
  margin-bottom: 150px;
  margin-left: 50px;
  margin-right: 50ox;
  width: 70%;
}

.card {
  background-color: #303B2E;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

#navbar a {
  float: left;
  display: block;
  color: #EFEBE0;
  text-align: center;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #EFEBE0;
  color: black;
}